.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

Log/*
!Log/.gitkeep

Result/Feasible/*
!Result/Feasible/.gitkeep

Result/Unfeasible/*
!Result/Unfeasible/.gitkeep

Recipe/Json/*
!Recipe/Json/.gitkeep

Recipe/XML/*
!Recipe/XML/.gitkeep
