# Install GLPK separately so Pyomo can use the default solver.
# macOS (Homebrew): brew install glpk
# Ubuntu/Debian: sudo apt-get install glpk-utils
# Optional for better performance: install gurobipy and configure your own Gurobi license.
pandas>=2.1
pyomo>=6.8
psutil>=5.9
pyvis>=0.3
packaging>=23
typing_extensions>=4.8
ipython>=8
jupyterlab>=4
